@import './variables.scss';

@mixin footerLink {
  margin: .8rem 1.5rem;
  font-size: 1.3rem;
  cursor: pointer;
  
  &:hover {
    text-decoration: underline;
  }
}

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
      @content;
  }
}