$color-navbar-primary: #FBFBFB;

$color-primary-button: #5862F8;

$color-grey-dark: #818181;
$color-search-grey: #DDDDDD;
$color-works-grey: #6C757D;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;