@import "../abstracts/variables.scss";

.navbar {
  background-color: $color-navbar-primary;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  
  &__left {
    display: flex;
    margin-left: 4rem;
  }

  &__logo {
    font-size: 2.1rem;
    font-weight: 700;
    padding-right: 1.5rem;
    border-right: 1px solid $color-search-grey;
    cursor: pointer;
  }

  &__search-select {
    background-color: #FFF;
    text-align: center;
    margin-left: 2rem;
    padding: 0 10px 0 20px;
    border-radius: 70px 0 0 70px;
    border: 1px solid $color-search-grey;
    border-right: none;
    cursor: pointer;

    & p {
      margin-top: .6rem;
      font-size: 1.4rem;
      font-weight: 700;
    }
  }

  &__search-input {
    width: 40rem;
    border: 1px solid $color-search-grey;
    padding-left: 1.8rem ;
    font-size: 2rem;

    &:focus {
      outline: none;
    }
  }

  &__right {
    padding-right: 2rem;
  }

  &__search-btn {
    background-color: #DDDDDD;
    font-size: 15px;
    padding: 0 20px 0 20px;
    border-radius: 0 70px 70px 0;
    border: 1px solid $color-search-grey;
    border-left: none;
  }
}